.about-body {
  height: 100vh;
  width: 100vw;
  background: #2282C9;
  display: grid;
  grid-template-columns: 20% auto 12px;
}

#about-logo {
  transform: scale(0.4)
}

.main-txt {
  line-height: 43px;
  font-size: 30px;
  color: #fff200;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 5%;
  width: 70%;
  padding-top: 10%;
  text-align: left;
}

.contact-us {
  line-height: 29px;
  margin-left: 5%;
  font-size: 17px;
  color: #dbf6ff;
  font-family: sans-serif;
  position: absolute;
}

.createdby__text {
  margin-left: 20%;
  color: #dbf6ff;
}

.createdby__text > a {
  color: #dbf6ff;
}

@media (max-width: 500px) {
  .p--text {
    margin: 0 auto;
  }

  .contact-us {
    margin-left: 10%;
    /* padding-bottom: 10%; */
  }

  .about-body {
    display: unset;
  }

  .main-txt {
    margin-top: 0;
    width: 90%;
    font-size: 20px;
  }

  .createdby__text {
    margin: 0 10px;
    text-align: left;
  }

  .about--left {
    text-align: center;
  };
}

@media (max-width: 360px) and (max-width: 760px) {
  #about-logo {
    transform: unset;
    width: 50%;
    margin: 20px auto;
  }
}