.about-body {
  height: 100vh;
  width: 100vw;
  background: #2282C9;
}

#about-logo {
  transform: scale(0.4)
}

.main-txt {
  line-height: 43px;
  font-size: 30px;
  color: #fff200;
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 25%;
  width: 50%;
  text-align: left;
}

.contact-us {
  line-height: 29px;
  margin-left: 25%;
  font-size: 17px;
  color: #dbf6ff;
  font-family: sans-serif;
  position: absolute;
}

@media (max-width: 500px) {
  .p--text {
    margin: 0 auto;
  }

  .contact-us {
    position: unset;
  }

  .main-txt {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }
}
