.body {
  height: 100vh;
  width: 100vw;
  background: #2282c9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-header > a {
  color: #fff200;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.about-header > a:hover {
  color: #fff;
  border-bottom: 0px solid;
  transition: 0.1s ease;
}

.about-header {
  text-align: center;
  padding-top: 10%;
  padding-right: 5%;
}

#cameron-logo {
  grid-column: 1;
  width: 40%;
  margin-top: 9%;
  margin-left: 35%;
}

#cameron-pin {
  grid-column: 2;
  align-self: center;
}

#cameron-about {
  grid-column: 3;
  justify-self: center;
  align-self: auto;
}

@media (max-width: 500px) {
  #cameron-logo {
    width: 100%;
    justify-self: center;
  }
  #cameron-about {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  #cameron-pin {
    width: 200%;
    align-self: center;
    justify-self: center;
  }
}