.auth-buttons {
  text-align: center;
}

.buttons {
  color: #fff;
  background-color: #2282c9;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: 0;
}
.logout--body {
  text-align: center;
  padding: 3px;
}

.login-button {
  border-bottom: 1px solid;
  padding-bottom: 3px;
  margin-right: 50px;
}

.logout--button {
  color: #fff;
  background-color: #2282c9;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: 0;
  border: 1px solid;
  padding: 10px;
  border-radius: 5%;
}

.auth--icons {
  cursor: pointer;
  display: block;
  margin: 2% auto 0 auto;
}

.auth--button {
  padding-right: 1%;
  padding-left: 1%;
}

.auth--button:hover {
  color: #fff;
}

.share--button:hover {
  color: #2282c9;
  transition: 0.3s ease
}

.register-button {
  border-bottom: 1px solid;
  padding-bottom: 3px;
  margin-left: 50px;
}


.buttons:hover {
  color: #fff200;
  border-bottom: 0px solid;
  transition: 0.1s ease;
}

.register--form, .login--form {
  margin-bottom: 1%;
}

.register--form > input, .login--form > input {
  display: block;
  margin: 10px auto;
}

.submit--button {
  border: 1px solid;
  padding: 10px;
  border-radius: 5%;
  margin-top: 1%;
}

.submit--button:hover, .logout--button:hover {
  background: #fff;
  color: #222;
  border: 1px solid #fff;
  transition: 0.4s ease;
}

.input__fields {
  width: 200px;
  font: inherit;
  color: #a3a3a3;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: none;
  padding: 10px 18px;
}