/* .dotstyle ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
} */

/* .dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
} */

/* .dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
} */
