html {
  background-color: #2282c9;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

.sign-in-header {
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.email--link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}